<?xml version='1.0' encoding='utf-8'?>
<widget id="org.roketfy.roketfy" version="0.2.0">
  <name>Roketfy</name>
  <description>
    Roketfy App
  </description>
  <author email="info@roketfy.com">
    Roketfy
  </author>
  <preference name="EnableDeveloperConsole" value="$IS_DEBUG" />
  <preference name="android-targetSdkVersion" value="30" />
</widget>
